@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: montserrat;
  font-weight: 600;
}

.parent {
  width: 100%;
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dedede;
}
h2{
  font-weight: 700;
}
.container {
  border-radius: 10px;
  padding: 50px
}

.nav-link {
  font-size: 1.2em;
}

.form1 {
  background: #212529;
  color : #fff;
  width: 50%;
}

.btn1 {
  width: 70%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-top: 40px;
  font-size: 1.2em;
  font-weight: 600;
}

.link1 {
  width: 70%;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-top: 16px;
  font-size: 1.2em;
  font-weight: 600;
}

/* #navbarNav{
  justify-content: flex-end;
} */

@media (min-width: 0px) and (max-width: 480px) {
  .container {
    padding: 25px
  }

  .nav-link {
    font-size: 1.2em;
  }

  .form1 {
    width: 95%;
  }

  .link1 {
    width: 90%;
    font-size: 1em;
  }

  .btn1 {
    width: 95%;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .container {
    border-radius: 10px;
  }

  .nav-link {
    font-size: 1.2em;
  }

  .form1 {
    width: 70%;
  }

  .link1 {
    width: 90%;
    font-size: 1em;
  }

  .btn1 {
    width: 95%;
  }
}
@media (min-width: 768px) {
  .container {
    border-radius: 10px;
  }

  .nav-link {
    font-size: 1.2em;
  }

  .form1 {
    width: 50%;
  }
}
